{% extends 'manager_left.html' %}
{% block right %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: #f9f9f9;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #3ba1df;
            color: #fff;
        }

        form {
            margin-top: 20px;
        }

        input[type="text"], input[type="submit"] {
            padding: 10px;
            margin-right: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

        input[type="submit"] {
            width: 85px;
            background-color: #3ba1df;
            color: #fff;
            cursor: pointer;
            border: none;
        }

        input[type="text"] {
            width: calc(100% - 132px);
        }

        .Price {
            background: white;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            padding: 20px;
        }

    </style>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ student.id }}">
        <label for="name">学生姓名:</label>
        <input type="text" id="name" name="name" value="{{ student.name }}" required>
        <br>
        <label for="student_id">学号:</label>
        <input type="text" id="student_id" name="student_id" value="{{ student.student_id }}" required>
        <br>
        <label for="grade">班级:</label>
        <select id="grade" name="grade" >
            <option value="{{ student.grade.id }}" selected>{{ student.grade.name }}</option>
            {% for grade in grade_list %}
                <option value="{{ grade.id }}">{{ grade.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="notice">备注:</label>
        <input type="text" id="notice" name="notice" value="{{ student.notice }}">
        <br>
        <input type="submit" value="提交">
    </form>
{% endblock %}
