{% extends 'manager_left.html' %}
{% block right %}
    <style>
        .feedback {
            background-color: #ffffff;
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .feedback hr {
            margin-top: 10px;
            border: none;
            height: 1px;
            background-color: #eee;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            border-radius: 5px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background-color: #f9f9f9;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #3ba1df;
            color: #fff;
        }

        form {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        input[type="text"], input[type="submit"], .custom-button, .custom-select {
            padding: 10px;
            margin-right: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

        input[type="submit"], .custom-button {
            width: 85px;
            background-color: #3ba1df;
            color: #fff;
            cursor: pointer;
            border: none;
        }

        .custom-select {
            position: relative;
            display: inline-block;
            width: 160px;
            background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"><path d="M12 6L8 10 4 6z"/></svg>') no-repeat right 10px center;
        }

        #search_types {
            position: absolute;
            top: 90px; /* 显示在搜索方式输入框下方 */
            left: 90px;
            width: calc(100% - 2px); /* 宽度与输入框相同，减去边框宽度 */
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            z-index: 1000;
            display: none; /* 默认隐藏 */
        }

        #search_types option {
            padding: 10px;
            cursor: pointer;
        }

        #search_types option:hover {
            background-color: #f1f1f1;
        }

        .pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination a {
            padding: 10px 15px;
            margin: 0 7px;
            border-radius: 4px;
            border: 1px solid #ccc;
            text-decoration: none;
        }

        .pagination a:hover {
            background-color: #ddd;
        }

        .pagination .current-page {
            color: #3ba1df;
            border: none;
        }

        .container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
    <div class="container">
        <form method="get">
            <input type="hidden" name="semester" value="0">
            <input type="hidden" name="id" value="{{ id }}">
            <input type="submit" value="总览">
        </form>
        {% for semester_order in data.get_semester_order %}
            <form method="get">
                <input type="hidden" name="semester" value="{{ semester_order.id }}">
                <input type="hidden" name="id" value="{{ id }}">
                <input type="submit" value="{{ semester_order.name }}">
            </form>
        {% endfor %}
        <a class="nav-link" href="../download/?{{ request.GET.urlencode }}">导出数据</a>
        <table>
            <thead>
            <tr>
                <th>教材名称</th>
                <th>作者</th>
                <th>价格 单位:分</th>
                <th>数量</th>
            </tr>
            </thead>
            <tbody>
            {% for book in data.get_books %}
                <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.price }}</td>
                    <td>{{ data.get_students_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>{{ data.get_books_price }} 元</div>
    </div>
{% endblock %}
